body {
    font-family: Arial, sans-serif;
    /*background-image: url("/static/background3.jpeg"); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preview {
    margin-top: 20px;
    text-align: center;
}

#output img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
